.cell {
  position: relative;
  cursor: pointer;
}

.cell > p {
  outline: none;
  z-index: 10;
  position: absolute;
  padding: 0;
  margin: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 16px;
  user-select: none;
}

.cell > p:focus {
  background-color: rgba(0, 255, 0, 0.3);
}

.cell > p:hover {
  cursor: pointer;
}

.cell > .grid {
  grid-row: 1 / 3;
  grid-column: 1 / 3;
  width: 100%;
  height: 100%;
  transition: 0.2s ease-in-out;
  justify-items: center;
}

.cell > .grid > div {
  position: relative;
  padding-bottom: 100%;
  height: 0;
  width: 100%;
}

.cell > .grid > div > p {
  position: absolute;
  font-size: 8px;
  color: grey;
  text-align: center;
  user-select: none;
  margin: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.cell > .grid > p:hover {
  cursor: pointer;
}
