.cell {
  position: relative;
  cursor: pointer;
}

.cell > p {
  outline: none;
  z-index: 10;
  position: absolute;
  padding: 0;
  margin: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 16px;
  user-select: none;
}

.cell > p:focus {
  background-color: rgba(0, 255, 0, 0.3);
}

.cell > p:hover {
  cursor: pointer;
}

.cell > .grid {
  grid-row: 1 / 3;
  grid-column: 1 / 3;
  width: 100%;
  height: 100%;
  transition: 0.2s ease-in-out;
}

.cell > .grid > p {
  font-size: 8px;
  color: grey;
  padding: 0;
  margin: 0;
  text-align: center;
  align-self: center;
  user-select: none;
}

.cell > .grid > p:hover {
  cursor: pointer;
}

.hide {
  opacity: 0;
}

.hints > p.highlit {
  background-color: rgba(0, 0, 255, 0.3);
}

.cell.highlit {
  background-color: rgba(0, 0, 255, 0.3);
}

.cell.selected {
  background-color: rgba(0, 255, 0, 0.3);
}
