/* NOTE:
  No style may collapse an element unless explicitly stated!
*/

/* Visually hide an element such as non-active cell hints */
.hide {
  opacity: 0;
}

/* Selection markers (vertical and horizontal) */
.overlay {
  background-color: rgba(255, 0, 0, 0.1);
}

/* A cell's number when the cell is secondary selected */
.translucent {
  opacity: 0.2;
  z-index: -1;
}

/* A hinted number cell*/
.hint {

}

/* A hinted number */
.hintLabel {
  font-size: 8px;
}

/* A subgrid */
.subgrid {
  outline: 1px solid black;
}

/* A cell */
.cell {

}

/* A locked cell (usually a cell which is correct from start) */
.locked {
  background-color: grey;
}

/* A cell's number */
.cell > p {
  font-size: 16px;
}

/* A cell that has a number */
.hasNumber {

}

/* A cell that has hinted numbers equal to the selected number */
.hasHighlitMark {

}

/* A hinted number which is the same as the selected cell's number */
.hints > .highlit {
  background-color: rgba(0, 0, 255, 0.3);
}

/* A cell which number is the same as the selected cell's number */
.cell.highlit {
  background-color: rgba(0, 0, 255, 0.3);
}

/* A selected cell */
.selected {
  background-color: rgba(0, 255, 0, 0.3)!important;
}

/* A secondary selected cell */
.secondary {
  background-color: rgba(150, 150, 0, 0.3);
}

/* The keyboard for the field. May be collapsed */
.keyboard {
  grid-gap: 5px;
}

/* A cell with a correctly entered number */
.correct {
  background-color: rgba(0, 255, 0, 0.6);
}

/* A selected cell which is also correct */
.selected.correct {
  outline: 5px solid green;
}

/* A selected cell which is not legal */
.selected:not(.legal) {
  outline: 5px solid red;
}

/* A cell with a legally entered number */
.legal {
  box-shadow: inset 0 0 2px green;
}

/* An unlegal cell */
.class:not(.legal) {
  box-shadow: inset 0 0 2px red!important;
}

/* A keyboard button */
.keyboardButton {
  padding: 5px;
  margin: 5px;
  text-align:center;
}
